<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.nickname %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
    <div class="delete-btn">
      <% if user_signed_in? && current_user.id == message.user_id %>
          <%= link_to '削除', room_message_path(@room, message.id), method: :delete %>
      <% end %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
    </div>
    <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
  <div class="favorite-btn">
    <% if user_signed_in? %>
      <% if message.favorited_by?(current_user) %>
        <p><span>お気に入り解除: </span><%= link_to message.favorites.count, room_message_favorites_path(@room, message.id), method: :delete %></p>
      <% else %>
        <p><span>お気に入り登録: </span><%= link_to message.favorites.count, room_message_favorites_path(@room, message.id), method: :post %></p>
      <% end %>
    <% else %>
      <p><span>お気に入り数: </span><%= message.favorites.count %></p>
    <% end %>
  </div>
</div>
